<%= form_for(@flat, html: { multipart: true }) do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="col-xs-4">
    <div class="field form-group">
      <%= f.label :room_number %>
      <%= f.select :room_number, options_for_select((1..10).to_a), class: "form-control" %>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="field form-group">
      <%= f.label :bed_number %>
      <%= f.select :bed_number, options_for_select((1..10).to_a), class: "form-control" %>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="field form-group">
      <%= f.label :guest_number %>
      <%= f.select :guest_number, options_for_select((1..10).to_a), class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <label>Photos</label>
  <%= f.fields_for :flat_pictures do |picture| %>
    <div class="field form-group">
      <%= picture.file_field :photo %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>