<div class="container-fluid full-image">
  <div class="row">
    <div class="col-xs-12">
      <% if @flat.flat_pictures.first %>
        <%= image_tag(@flat.flat_pictures.first.photo(:banner)) %>
      <% else %>
        <%= link_to image_tag("http://placehold.it/1450x250/95a5a6/ecf0f1&text=click+to+add+an+image"), edit_flat_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-xs-2">
        <div class="user">
          <%= image_tag "http://api.randomuser.me/portraits/men/3.jpg", alt:"AJOUTER UNE BALISE ALT" %><br>
          <div class="username"><%= @flat.user.email %></div>
        </div>
      </div>

    <div class="col-xs-7">
      <div class="row flat-desc">
        <h1>
          <%= @flat.title %><br>
          <small>
            <%= @flat.address %>, <%= @flat.city %>
          </small>
        </h1>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-4">
          <div class="guests">
            <%= image_tag "people.png", alt:"number of people in this flat" %><br>
            <%= @flat.guest_number %> guests
          </div>
        </div>
        <div class="col-xs-4">
          <div class="rooms">
            <%= image_tag "rooms.png", alt:"number of rooms in this flat" %><br>
            <%= @flat.bed_number %> rooms
          </div>
        </div>
        <div class="col-xs-4">
          <div class="beds">
            <%= image_tag "beds.png", alt:"number of beds in this flat" %><br>
            <%= @flat.room_number %> beds
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <h2>flat description</h2>
            <%= @flat.description %>
        </div>
      </div>

      <% if @flat.flat_pictures.count > 1 %>
        <div class="row">
          <div class="col-xs-12">
            <div class="second-image">
              <%= image_tag(@flat.flat_pictures.second.photo(:full)) %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-xs-3 book">
      <div class="col-xs-8 col-xs-offset-2 book">
        <%= link_to "BOOK NOW", new_flat_booking_path(@flat), class:"btn-dmc" %>
        <div class="price">
          <%= @flat.price %>€ par nuit
        </div>
      </div>
      <div class="col-xs-12 calendar">
        <div style="background-color:red;height:100px;"> ADD CALENDAR HERE </div>
      </div>
    </div>
  </div>