<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "AIRDMC - Ghetto Houses. Yo." %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= google_webfonts_link_tag :Lato => [100, 300, 400, 700] %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

  <%= render partial: "shared/navbar" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="wrapper">

    <%= yield %>

  </div>

  <%= render partial: "shared/footer" %>


  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
  </script>
  <script src="https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>

  <%= javascript_include_tag "application" %>

  <%= yield(:js) %>

</body>
</html>