<!DOCTYPE html>
<html>
<head>
  <title>Airdmc</title>
  <%= google_webfonts_link_tag :Open_Sans => [300, 400, 600, 700] %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render partial: "shared/navbar" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <%= yield %>

  <%= render partial: "shared/footer" %>
</body>
</html>


