<!DOCTYPE html>
<html>
<head>
  <title>AIRDMC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= google_webfonts_link_tag :Open_Sans => [300, 400, 600, 700] %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= render 'layouts/navbartrans' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>


